@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

.about {
    @include flex-column(center, center, 0);

    .about-wrapper {
        @include flex-column(center, flex-start, 0);
        margin: 0 10px;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }

        h2{
            padding: 3rem 0 1rem;
            padding-bottom: 1rem;
            display: block;
            margin: auto;
            font-weight: 700;
        }
        h3 {
            margin-top: 1.5rem;
            font-weight: 500;
        }
        p {
            margin: 1rem 0;
            font-weight: 300;
        }
    }
}