@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

.rating-circle {
    position: relative;
    width: em(40); 
    height: em(40); 

    .rating-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2; 
        font-weight: 500;
        font-size: 0.9rem;
        color: $text-colour;
    }
    
    .circle-backdrop {
        width: 100%;
        height: 100%;
        background-color: $secondary-colour; 
        border-radius: 50%;
        overflow: hidden; 

        .circle-fill {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            .circle-inner-fill {
                width: 80%;
                height: 80%;
                background-color: $secondary-colour; 
                border-radius: 50%;
                overflow: hidden; 
            }
        }
    }
} 